<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新经资讯后台管理</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/jquery.pagination.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.pagination.min.js"></script>
</head>
<body>
	<div class="breadcrub">
			当前位置：新闻管理>新闻审核
			<form class="news_filter_form">
				<input type="text" placeholder="请输入关键字" class="input_txt">
				<input type="submit" value="搜 索" class="input_sub">
			</form>
		</div>
		<div class="pannel">
			<table class="common_table">
				<tr>
					<th width="3%">id</th>
					<th width="40%">mod_id</th>
					<th width="27%">mod_name</th>
					<th width="30%">管理操作</th>
				</tr>
				{% for item in modules %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td class="tleft" style="text-align: center">{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td>
						<a href="news_review_detail" class="review">审核</a>
					</td>
				</tr>
				{% endfor %}

			</table>
		</div>

		<div class="box">
			<div id="pagination" class="page"></div>
		</div>

        <script>
			$(function() {
				$("#pagination").pagination({
					currentPage: 2,
					totalPage: 3,
					callback: function(current) {
					    alert('ok!');
					}
				});
			});
		</script>

	
</body>
</html>