<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新经资讯后台管理</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/jquery.pagination.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.pagination.min.js"></script>
	<script>
			var j = parseInt("{{ current_page }}");
			var jss = parseInt("{{ total_page }}");
			$(function() {
				$("#pagination").pagination({
					currentPage: j,
					totalPage: jss,
					callback: function(current) {
						alert('/tenant_list?p=' + current)
					    window.location.href = '/tenant_list?p=' + current
					}
				});
			});
		</script>
</head>
<body>
	<div class="breadcrub">
			当前位置：租客管理>租客列表
			<form class="news_filter_form">
				<input type="text" placeholder="请输入关键字" class="input_txt">
				<input type="submit" value="搜 索" class="input_sub">
			</form>
		</div>
		<div class="pannel">
			<table class="common_table">
				<tr>
					<th width="3%">id</th>
					<th width="40%">tenant_id</th>
					<th width="27%">tenant_name</th>
					<th colspan="3">管理操作</th>
				</tr>
				{% for item in modules %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td class="tleft" style="text-align: center">{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td>
						<a href="news_review_detail" class="review">注册</a>
					</td>
					<td>
						<a href="news_review_detail" class="review">部署</a>
					</td>
					<td>
						<a href="news_review_detail" class="review">下线</a>
					</td>

				</tr>
				{% endfor %}

			</table>
		</div>

		<div class="box">
			<div id="pagination" class="page"></div>
		</div>



	
</body>
</html>